@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;900&display=swap');

@font-face {
  font-family: 'AvQest';
  src: url('AvQest.ttf.woff') format('woff');
}

:root {
  --main-primary: #2a0a00;
  --main-primary-light: #54312c;
  --main-secondary: #4d5055;
  --main-secondary-light: #797c81;
  --main-secondary-dark: #25282c;
}

body {
  background: var(--main-primary-light);
  font-family: 'AvQest', serif;
  color: #fff;
}

.bg-secondary-light {
  background: var(--main-secondary-light);
}
