@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;900&display=swap');

@font-face {
  font-family: 'AvQest';
  src: url('AvQest.ttf.woff') format('woff');
}

:root {
  --main-primary: #92140c;
  --main-primary-light: #c94a34;
  --main-primary-dark: #5e0000;
  --main-secondary: #c1b4ae;
  --main-secondary-light: #f4e6e0;
  --main-secondary-dark: #91847f;
}

body {
  background: var(--main-primary-dark);
  font-family: 'AvQest', serif;
  color: #fff;
}

.bg-secondary-light {
  background: var(--main-secondary-light);
}
